<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="./js/formSelects/dist/formSelects-v4.css" />
    <link rel="stylesheet" href="./layui/css/layui.css"  media="all">
    <script type="text/javascript" src="./layui/layui.js"></script>
    <style>

    </style>
</head>
<body>
   <div class="layui-container" style="width: 100%;margin-top: 10px;">
        <div class="layui-row query-input">
            <form class="layui-form" id="query_form">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 250px;">
                    <label class="layui-form-label">用户代码</label>
                    <div class="layui-input-block">
                        <input type="text" name="userCode" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="width: 250px;">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="width: 250px;">
                    <button class="layui-btn layui-btn-sm" lay-submit lay-filter="queryUser">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                </div>
            </div>
            </form>
        </div>
        <div class="layui-row">
             <table class="layui-hide" id="userTable" lay-filter="userTable"></table>
        </div>
   </div>
</body>
</html>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="kickout">强退</button>
    </div>
</script>
<script src="./js/formSelects/src/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script>

    layui.config({
        base: './js/'
        ,version: '101100'
    }).extend({ //设定模块别名
        common: 'common',
        formSelects:'formSelects-v4'
    });
  //  var formSelects = layui.formSelects;
    layui.use(['table','form','jquery','laydate','common'], function(){
        var table = layui.table;
        var form = layui.form;
       var formSelects = layui.formSelects;
        var $ = layui.jquery;
        var common=layui.common;
        var laydate=layui.laydate;

        var userTable = table.render({
            elem: '#userTable'
            ,url:common.baseService()+'user/onlineUsers/'
          //  ,height:312
            ,toolbar:'#toolbarDemo'
            ,page:true
            ,cols: [
                [
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'userCode', title: 'userCode', width:100}
                ,{field: 'userName', title: 'userName', width:100}
                ,{field: 'ip', title: 'IP', width:130}
                ,{field: 'loginAddr', title: 'loginAddr',width:230}
                ,{field: 'osName', title: 'osName',width:130}
                ,{field: 'browser', title: 'browser',width:130}
                ,{field: 'loginTime', title: 'loginTime',width:230,sort: true}
                ]
            ]
        });
        //头工具栏事件
        table.on('toolbar(userTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'kickout':
                    var data = checkStatus.data;
                    if(data.length>0) {
                        var userCodes = new Array();
                        $.each(data, function (index, obj) {
                            userCodes.push(obj.userCode);
                        });
                        common.baseAjax('post','user/kickout',{users:JSON.stringify(userCodes)},function (result) {
                            layer.msg('保存成功');
                            var queryform =common.formData('#query_form');// $('#query_form').serializeArray()[0];
                            console.log(queryform);
                            userTable.reload({
                                where: {condition:JSON.stringify(queryform)}
                                ,page: {
                                    curr: userTable.config.page.curr //重新从第 1 页开始
                                }
                            });
                        },function (error) {
                            layer.msg(error);
                        });
                    }
                    break;
            };
        });
        form.on('submit(queryUser)', function(data){
            console.log(data);
            userTable.reload({
                where: {condition:JSON.stringify(data.field)}
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });
    });
</script>